<div class="admin">
  
  <p class="header"><%= link_to 'View site &raquo;', root_path %></p>
  
  <h1>Pages <span class="link"><%= link_to 'new &raquo;', new_page_path %></span></h1>
  <table>
    <% @pages.each do |page| %>
      <tr>
        <td><b><%= link_to page, slug_path(page.slug) %></b></td>
        <td><%= link_to 'edit', edit_page_path(page) %></td>
        <td><%= link_to 'delete', page, :confirm => 'Are you sure?', :method => :delete unless page.home? %></td>
      </tr>
    <% end %>
  </table>

  <h1>Uploads <span class="link"><%= link_to 'new &raquo;', new_upload_path %></span></h1>
  <table>
  <% @uploads.each do |upload| %>
    <tr>
      <% if upload.image? %>
        <td>
          <%= link_to image_tag(upload.attachment.url(:square)), upload.attachment.url %><br />
          <%= link_to 'sq', upload.attachment.url(:square) %>
          <%= link_to 'th', upload.attachment.url(:thumb) %>
          <%= link_to 's', upload.attachment.url(:small) %>
          <%= link_to 'm', upload.attachment.url(:medium) %>
          <%= link_to 'l', upload.attachment.url(:large) %>
          <%= link_to 'o', upload.attachment.url(:original) %>
        </td>
      <% else %>
        <td><%= link_to truncate(upload.to_s), upload.attachment.url %></td>
      <% end %>
      <td><%= upload.attachment_content_type %></td>
      <td><%= number_to_human_size(upload.attachment_file_size) %></td>
      <td><%= link_to 'delete', upload, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <h1>Theme</h1>
  <% form_for(@theme, :url => edit_theme_path) do |f| %>
    <%= f.error_messages %>
    <p><%= f.text_area :body, :rows => '12', :cols => '70' %></p>
    <p><%= f.submit 'Save theme' %> or <%= link_to 'cancel', admin_path %></p>
  <% end %>
  
  <p class="footer">Powered by <a href="http://github.com/trevorturk/static/">Static</a></p>
  
</div>
