<h1>Editing setting</h1>

<% form_for(@setting) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_area :value %>
  </p>
  <p>
    <%= f.submit 'Save changes' %> or <%= link_to 'cancel', admin_path %>
  </p>
<% end %>
