<table>
  <% @settings.each do |setting| %>
    <tr>
      <td><%= setting.key %></td>
      <td><%= setting.value %></td>
      <td><%= link_to 'edit', edit_setting_path(setting) %></td>
      <td><%= link_to 'delete', setting, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'New setting &raquo;', new_setting_path %></p>