<table>

<% @uploads.each do |upload| %>
  <tr>    
    <% if upload.image? %>
      <td><%= link_to image_tag(upload.attachment.url(:square)), upload.attachment.url %></td>
      <td>
        <% upload.attachment.styles.keys.each do |style| %>
          <%= link_to style, upload.attachment.url(style) %>
        <% end %>
      </td>
    <% else %>
      <td>&nbsp;</td><td><%= link_to truncate(upload.to_s), upload.attachment.url %></td>
    <% end %>
    <td><%= upload.attachment_content_type %></td>
    <td><%= number_to_human_size(upload.attachment_file_size) %></td>
    <td><%= link_to 'delete', upload, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'Upload a new file &raquo;', new_upload_path %></p>
